<!DOCTYPE html>
<html>
<title>Apartment Shoper</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<style>
.themed-grid-col {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: rgba(86, 61, 124, .15);
  border: 1px solid rgba(86, 61, 124, .2);
}

#livinroomSlide,
#diningroomSlide,
#livingroomSlide,
#livingroom2Slide{
  width:24%;
  height:100%;
}

body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", Arial, Helvetica, sans-serif}
.mySlides {display: none}
</style>
<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-light-grey w3-collapse w3-top" style="z-index:3;width:260px" id="mySidebar">
  <div class="w3-container w3-display-container w3-padding-16">
    <i onclick="w3_close()" class="fa fa-remove w3-hide-large w3-button w3-transparent w3-display-topright"></i>
    <h3>Search</h3>

    <hr>
    <form action="http://10.0.0.43:3000/shop" method="POST">
      <p><label><i></i> Location</label></p>
      <input class="w3-input w3-border" type="text" placeholder="Zip Code" name="zip" required>
      <br>
      <p><button class="w3-button w3-block w3-green w3-left-align" type="submit"><i class="fa fa-search w3-margin-right"></i> Search</button></p>
    </form>
  </div>
  <div class="w3-bar-block">
    <a href="http://10.0.0.43:3000/shop" class="w3-bar-item w3-button w3-padding-16"><i class="fa fa-building"></i> Apartments</a>
    <a href="javascript:void(0)" class="w3-bar-item w3-button w3-padding-16" onclick="document.getElementById('subscribe').style.display='block'"><i class="fa fa-rss"></i> Subscribe</a>
    <a href="#contact" class="w3-bar-item w3-button w3-padding-16"><i class="fa fa-envelope"></i> Contact</a>
    <a href="http://10.0.0.43:3000/users/login" class="w3-bar-item w3-button w3-padding-16" ><i class="login"><img src="http://10.0.0.43:3000/photos/shop/login.png" alt="Smiley face" height="15" width="15.02"></i> login</a>
    <a href="http://10.0.0.43:3000/users/register" class="w3-bar-item w3-button w3-padding-16"><i class="login"><img src="http://10.0.0.43:3000/photos/shop/register.png" alt="Smiley face" height="18" width="18.02"></i> Register</a>
  </div>
</nav>

<body class="w3-content w3-border-left w3-border-right" id="body">

<!-- Top menu on small screens -->
<header class="w3-bar w3-top w3-hide-large w3-black w3-xlarge">
  <span class="w3-bar-item">Register</span>
  <a href="javascript:void(0)" class="w3-right w3-bar-item w3-button" onclick="w3_open()"><i class="fa fa-bars"></i></a>
</header>
  <div class="w3-main w3-white" style="margin-left:260px">

    <form class="form-signin" method="POST" action='/users/register' style="width:80%; margin:auto">
      <div class="text-center mb-3"style=" text-align: center; margin-left:2px; margin-right:auto" >
        <img class="mb-4" src="/docs/4.2/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
        <hr style="visibility: hidden">
        <h1 class="h3 mb-3 font-weight-normal">search</h1>

      <div class="form-label-group">

        <%apartments.forEach((apartment,idx)=>{%>
          <div class="row mb-3" style="width:100%; ">
            <div class="col-md-8 themed-grid-col">
              <div class="pb-3">
                  <a href="http://10.0.0.43:3000/apartment/<%=apartment._id%>"><%=apartment.owner%></a>
              </div>
              <div class="row">
                <div class="col-md-6 themed-grid-col"><%=apartment.address%></div>
                <div class="col-md-6 themed-grid-col">.col-md-6</div>
              </div>
            </div>
            <div class="col-md-4 themed-grid-col" style="margin:auto;">
              <img id="livinroomSlide" style="margin-bottom:-6px" src="http://10.0.0.43:3000/photos/<%=apartment.owner%>/<%=apartment.apartmentNumber%>/bedroom.jpg">
              <img id="diningroomSlide" style="margin-bottom:-6px" src="http://10.0.0.43:3000/photos/<%=apartment.owner%>/<%=apartment.apartmentNumber%>/diningroom.jpg">
              <img id="livingroomSlide" style="margin-bottom:-6px" src="http://10.0.0.43:3000/photos/<%=apartment.owner%>/<%=apartment.apartmentNumber%>/livingroom.jpg">
              <img id="livingroom2Slide" style="margin-bottom:-6px" src="http://10.0.0.43:3000/photos/<%=apartment.owner%>/<%=apartment.apartmentNumber%>/livingroom2.jpg">
            </div>
        </div>
        <br>
        <%});%>

      </div>
    </form>
</body>
<script>

document.getElementById('body').style.height = window.innerHeight.toString() + "px";

// Script to open and close sidebar when on tablets and phones
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
  document.getElementById("myOverlay").style.display = "block";
}

function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
  document.getElementById("myOverlay").style.display = "none";
}

</script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="/docs/4.2/assets/js/vendor/jquery-slim.min.js"><\/script>')</script><script src="/bootstrap/dist/js/bootstrap.bundle.min.js" integrity="sha384-zDnhMsjVZfS3hiP7oCBRmfjkQC4fzxVxFhBx8Hkz2aZX8gEvA/jsP3eXRCvzTofP" crossorigin="anonymous"></script>

</body>
</html>
